<!DOCTYPE html>
<html>
<head>
<style>

body {
    background-image: url('https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462431_1280.jpg');
    
}

h1 {
    font-family: Franklin Gothic Medium;
    color: black;
    text-align: center;
}

p {
    font-family: Franklin Gothic Medium;
    font-size: 27px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: #9CD4D6;
    border: 1px solid #555;
    font-family: Franklin Gothic Medium;
}

li a {
    display: block;
    color: #000;
    padding: 25px 25px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a:hover:not(.active) {
    background-color: #000;
    color: white;
}

</style>
</head>
</html>